HospitalClient/xml-resources/web-service-references/UserWebService/wsdl/169.254.5.2_8080/Hospital/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://UserPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://UserPackage/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://UserPackage/" schemaLocation="http://169.254.5.2:8080/Hospital/UserWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="disableUser">
<part name="parameters" element="tns:disableUser"/>
</message>
<message name="disableUserResponse">
<part name="parameters" element="tns:disableUserResponse"/>
</message>
<message name="viewUser">
<part name="parameters" element="tns:viewUser"/>
</message>
<message name="viewUserResponse">
<part name="parameters" element="tns:viewUserResponse"/>
</message>
<portType name="UserWebService">
<operation name="addUser">
<input wsam:Action="http://UserPackage/UserWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://UserPackage/UserWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://UserPackage/UserWebService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://UserPackage/UserWebService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="disableUser">
<input wsam:Action="http://UserPackage/UserWebService/disableUserRequest" message="tns:disableUser"/>
<output wsam:Action="http://UserPackage/UserWebService/disableUserResponse" message="tns:disableUserResponse"/>
</operation>
<operation name="viewUser">
<input wsam:Action="http://UserPackage/UserWebService/viewUserRequest" message="tns:viewUser"/>
<output wsam:Action="http://UserPackage/UserWebService/viewUserResponse" message="tns:viewUserResponse"/>
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="disableUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://169.254.5.2:8080/Hospital/UserWebService"/>
</port>
</service>
</definitions>