HospitalClient/src/META-INF/wsdl/169.254.5.2_8080/Hospital/PatientWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://UserPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://UserPackage/" name="PatientWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://UserPackage/" schemaLocation="http://169.254.5.2:8080/Hospital/PatientWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="disablePatient">
<part name="parameters" element="tns:disablePatient"/>
</message>
<message name="disablePatientResponse">
<part name="parameters" element="tns:disablePatientResponse"/>
</message>
<message name="addPatient">
<part name="parameters" element="tns:addPatient"/>
</message>
<message name="addPatientResponse">
<part name="parameters" element="tns:addPatientResponse"/>
</message>
<message name="listAll">
<part name="parameters" element="tns:listAll"/>
</message>
<message name="listAllResponse">
<part name="parameters" element="tns:listAllResponse"/>
</message>
<message name="updatePatient">
<part name="parameters" element="tns:updatePatient"/>
</message>
<message name="updatePatientResponse">
<part name="parameters" element="tns:updatePatientResponse"/>
</message>
<message name="viewPatient">
<part name="parameters" element="tns:viewPatient"/>
</message>
<message name="viewPatientResponse">
<part name="parameters" element="tns:viewPatientResponse"/>
</message>
<portType name="PatientWebService">
<operation name="disablePatient">
<input wsam:Action="http://UserPackage/PatientWebService/disablePatientRequest" message="tns:disablePatient"/>
<output wsam:Action="http://UserPackage/PatientWebService/disablePatientResponse" message="tns:disablePatientResponse"/>
</operation>
<operation name="addPatient">
<input wsam:Action="http://UserPackage/PatientWebService/addPatientRequest" message="tns:addPatient"/>
<output wsam:Action="http://UserPackage/PatientWebService/addPatientResponse" message="tns:addPatientResponse"/>
</operation>
<operation name="listAll">
<input wsam:Action="http://UserPackage/PatientWebService/listAllRequest" message="tns:listAll"/>
<output wsam:Action="http://UserPackage/PatientWebService/listAllResponse" message="tns:listAllResponse"/>
</operation>
<operation name="updatePatient">
<input wsam:Action="http://UserPackage/PatientWebService/updatePatientRequest" message="tns:updatePatient"/>
<output wsam:Action="http://UserPackage/PatientWebService/updatePatientResponse" message="tns:updatePatientResponse"/>
</operation>
<operation name="viewPatient">
<input wsam:Action="http://UserPackage/PatientWebService/viewPatientRequest" message="tns:viewPatient"/>
<output wsam:Action="http://UserPackage/PatientWebService/viewPatientResponse" message="tns:viewPatientResponse"/>
</operation>
</portType>
<binding name="PatientWebServicePortBinding" type="tns:PatientWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="disablePatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PatientWebService">
<port name="PatientWebServicePort" binding="tns:PatientWebServicePortBinding">
<soap:address location="http://169.254.5.2:8080/Hospital/PatientWebService"/>
</port>
</service>
</definitions>